<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                    type="email" name="email" id="email" value="<%= oldInput.email %>" required>
                <% if (validationErrors.find(e => e.param === 'email')) { %>
                <div class="error-message"><%= validationErrors.find(e => e.param === 'email').msg %></div>
                <% } %>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" name="password" id="password" required>
                <% if (validationErrors.find(e => e.param === 'password')) { %>
                <div class="error-message"><%= validationErrors.find(e => e.param === 'password').msg %></div>
                <% } %>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form>
        <div class="centered">
            <a href="/reset">Reset Password</a>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
